@import "../../../../commonComponents/buttons";

.chose-account-wrapper {
  padding: 25px 25px 0 25px;

  button {
    @include btn;
  }

  div {
    text-align: center;
    margin: 15px 0;

    span {
      font-size: 12px;
      font-weight: bold;
      color: #444;
      transition: 0.2s ease-in;
      cursor: pointer;

      &:hover {
        color: #a1A1A1;
      }
    }
  }
}