@import '../../../../commonComponents/colors';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.15s ease-out;
  text-align: center;
  visibility: hidden;
  font-family: 'Montserrat', sans-serif;

  .modal {
    position: relative;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin-top: 0;
    top: 0;
    transform: translateY(0);
    opacity: 0;
    transition: all 0.3s ease-out;
    overflow: hidden;
    border-radius: 6px !important;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);

    .modal-header {
      background: $orange;
      color: #fff;
      margin-bottom: 20px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        margin: 0;
      }

      .icon-close {
        display: flex;
        position: absolute;
        right: 25px;
        outline: none;
        cursor: pointer;

        svg {
          fill: #FFF;
        }
      }
    }

    .modal-body {
      text-align: left;
      padding: 0 20px 20px 20px;
    }
  }

  &.open {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
    visibility: visible;

    .modal {
      margin-bottom: 80px;
      transform: translateY(80px);
      opacity: 1;
    }
  }
}