.type-in-password-wrapper {
  padding: 25px;

  .import {
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
    color: #444;
    transition: 0.2s ease-in;
    cursor: pointer;

    &:hover {
      color: #a1A1A1;
    }
  }
}