.type-in-password-wrapper {
  padding: 25px 25px 0 25px;

  .import-wrapper {
    text-align: center;
    margin: 15px 0;

    .import {
      font-size: 12px;
      font-weight: bold;
      color: #444;
      transition: 0.2s ease-in;
      cursor: pointer;

      &:hover {
        color: #a1A1A1;
      }
    }
  }
}