@import '../../../../commonComponents/buttons';

.copy-seed-wrapper {
  padding: 25px;

  .copy-seed-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    textarea {
      border-radius: 3px;
      border: 2px solid #444;
      resize: none;
      width: calc(100% - 45px);
      height: 100px;
      font-size: 20px;
      padding: 20px;
    }

    button {
      margin-top: 25px;
      @include btn;
    }
  }
}