@import '../../../../commonComponents/colors';
@import '../../../../commonComponents/buttons';

.dashboard-wrapper {
  color: #444;

  .account-info-wrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;

    .small-section {
      margin-bottom: 25px;

      .small-section-title {
        font-size: 16px;
        font-weight: 500;
      }

      a {
        text-decoration: none;
        color: #444444;
        transition: 0.2s ease-in;
        outline: none;

        &:hover {
          color: #a1A1A1;
        }
      }

      .user-address {
        position: absolute;
        opacity: 0;
        width: 1px;
        pointer-events: none;
      }

      .copy {
        width: 18px;
        height: 18px;
        background: url('./copy.svg');
        background-size: 18px;
        background-repeat: no-repeat;
        outline: none;
        border: none;
        opacity: .25;
        cursor: pointer;
        margin-left: 5px;
        margin-top: -3px;

        &:hover {
          opacity: .4;
        }
      }

      .error { color: $red-error };
      .pending {
        color: $yellow-pending;

        a {
          margin-left: 7px;
        }
      }
    }

    .large-section-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .large-section {
        flex-grow: 1;

        .large-section-title {
          font-size: 16px;
          font-weight: 500;
        }

        .large-section-balance {
          font-size: 24px;
          display: inline-block;
          font-weight: 300;
        }

        .large-section-btn {
          transition: 0.2s ease-in;
          width: max-content;
          cursor: pointer;
          color: $green;
          display: flex;
          align-items: center;
          font-weight: 500;

          &:after {
            content: '';
            background: url('./btn-arrow.svg');
            background-repeat: no-repeat;
            background-position: 50%;
            width: 10px;
            height: 10px;
            margin-left: 2px;
          }

          &:hover { opacity: .9; }
          &:disabled { color: $green-disabled; }
        }
      }
    }
  }

  .registering-info {
    margin-bottom: 25px;
    text-align: center;
    font-size: 16px;
  }

  .register-btn-wrapper {
    padding: 0 25px 25px 25px;

    .register-btn {
      @include btn;
    }
  }
}
