@import '../../../../commonComponents/colors';
@import '../../../../commonComponents/buttons';

.dashboard-wrapper {

  .account-info-wrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;

    .small-section {
      margin-bottom: 25px;

      .small-section-title {
        font-size: 16px;
      }

      a {
        text-decoration: none;
        color: #444444;
        transition: 0.2s ease-in;
        outline: none;

        &:hover {
          color: #a1A1A1;
        }
      }

      .error { color: $red-error };
      .pending {
        color: $yellow-pending;

        a {
          margin-left: 7px;
        }
      }
    }

    .large-section-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .large-section {
        flex-grow: 1;

        .large-section-title {
          font-size: 16px;
        }

        .large-section-balance {
          font-size: 24px;
          display: inline-block;
        }

        .large-section-btn {
          transition: 0.2s ease-in;
          width: max-content;
          cursor: pointer;
          color: $green;
          display: flex;
          align-items: center;

          &:after {
            content: '';
            background: url('./btn-arrow.svg');
            background-repeat: no-repeat;
            background-position: 50%;
            width: 10px;
            height: 10px;
            margin-left: 2px;
          }

          &:hover { opacity: .9; }
          &:disabled { color: $green-disabled; }
        }
      }
    }
  }

  .registering-info {
    margin-bottom: 25px;
    text-align: center;
    font-size: 16px;
  }

  .register-btn-wrapper {
    padding: 0 25px 25px 25px;

    .register-btn {
      @include btn;
    }
  }
}
