.dashboard-wrapper {

  .account-info-wrapper {
    display: flex;
    padding: 0 20px 20px 20px;

    img {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      margin-right: 20px;
    }

    .account-info {
      .address {
        font-family: Monospaced;
        display: inline-block;
        width: 228px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
      }

      .balance, .username, .tips {
        width: 228px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
      }
    }
  }

  .dashboard-content {
    padding: 20px;
    text-align: center;
  }
}
