.network-select-wrapper {
  display: inline-flex;
  flex-direction: column;

  .active-network-wrapper {
    display: table;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;

    .active-network-name {
      margin-right: 8px;
      user-select: none;
    }
  }

  .dropdown-wrappper {
    overflow: hidden;

    .network-select-dropdown {
      background: rgba(#444, 0.7);
      transition: 0.3s ease-in-out;
      height: 0;
      overflow: hidden;
      position: absolute;
      right: 25px;
      top: 37px;
      z-index: 1;

      &.active {
        height: 130px;
      }

      .dropdown-item {
        text-align: right;
        padding: 5px 15px;
        cursor: pointer;
      }
    }
  }
}
