@import '../../../../commonComponents/colors';

.header-wrapper {
  height: 50px;
  font-size: 18px;
  background: $green;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .back {
    position: absolute;
    left: 25px;
    top: 10px;
    cursor: pointer;
  }
}