@import '../../../../commonComponents/colors';

.gold-wrapper {
  max-height: 150px;
  overflow: auto;
  padding: 25px;
  font-weight: 500;

  .single-gold {
    border-bottom: 1px solid rgba(#888, 0.1);
    width: 100%;

    &.last {
      border-bottom: none;

      .content-wrapper {
        padding-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      color: #444444;
      transition: 0.2s ease-in;

      &:hover {
        color: #a1A1A1;
      }
    }

    .content-wrapper {
      padding: 10px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;

      .info {
        display: flex;
        align-items: center;

        a {
          margin-left: 7px;
          max-width: 220px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .val-section {
        display: flex;
        align-items: center;
      }
    }
  }

  .info-line {
    margin-bottom: 10px;
  }
}
