.network-select-wrapper {
  display: inline-flex;
  flex-direction: column;

  .active-network-wrapper {
    display: table;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;

    .active-network-name {
      margin-right: 8px;
      user-select: none;
    }
  }

  .dropdown-wrappper {
    overflow: hidden;

    .network-select-dropdown {
      background: rgba(lightgray, 0.8);
      transition: 0.3s ease-in-out;
      height: 0;
      overflow: hidden;
      position: absolute;

      &.active {
        height: 185px;
      }

      .dropdown-item {
        display: flex;
        align-items: center;
        font-size: 18px;
        cursor: pointer;

        .dropdown-item-bar {
          align-self: stretch;
          width: 10px;
        }

        .dropdown-item-text {
          padding: 8px 16px;
          user-select: none;
        }
      }
    }
  }
}