.animated-caret-wrapper {
  outline: none;
  display: inline-block;

  .arrow {
    width: 25px;
    height: 13px;
    display: inline-block;
    position: relative;
    left: 0;
    transition: 0.4s ease;
    text-align: left;
    transform: rotate(0);

    &:before, &:after {
      position: absolute;
      content: '';
      display: inline-block;
      transition: 0.4s ease;
      background-color: transparent;
      width: 3px;
      height: 10px;
      border-bottom: 12px solid white;
      top: 0;
      left: 11px;
      transform: rotate(0);
    }

    &:after {
      position: absolute;
      transform: rotate(135deg)
    }

    &:before {
      transform: rotate(-135deg)
    }

    &.active {
      transform: translate(0, -6px);

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}