@import './colors';

@mixin btn {
  border: 0;
  height: 45px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  background: $orange;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: $orange-hover;
  }

  &:disabled {
    user-select: none;
    cursor: not-allowed;
    background: $orange-disabled;
  }
}