$green: #43AD62;
$green-hover: lighten($green, 10);
$green-disabled: rgba($green, 0.5);
$red-error: #F57170;
$yellow-pending: #CFAC3B;

$orange: #ff6d19;
$orange-hover: lighten($orange, 10);
$orange-disabled: lighten($orange, 0.5);