@import './buttons';
@import './colors';

.form-wrapper-2 {
  width: 100%;

  .form-item-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 35px;

    &.form-item-wrapper-long {
      .form-item { flex-grow: 1; }
      label { flex-grow: 0.3; }
    }

    .form-item {
      border: 1px solid #DCE0E5;
      border-radius: 4px;
      padding: 6px 10px;
      margin: 0;
      width: 200px;
      text-align: left;
      font-size: 14px;
    }

    label {
      color: #444;
      font-size: 16px;
    }

    .form-item-error {
      border-color: $red-error;
      outline-color: $red-error;
    }

    div.form-item-error {
      position: absolute;
      color: $red-error;
      top: 40px;
      font-size: 16px;
      width: 100%;
      text-align: right;
    }
  }

  .tx-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 20px;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 14px;

      .second-price {
        font-size: 12px;
        opacity: 0.65;
      }
    }
  }

  .submit-error {
    font-size: 18px;
    margin-bottom: 20px;
    color: $red-error;
  }

  .submit-success-2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: $green;
  }

  .submit-button {
    display: block;
    @include btn;
  }

  .form-item-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
    font-size: 16px;
    margin-bottom: 35px;

    a {
      text-decoration: none;
      color: #444444;
      transition: 0.2s ease-in;

      &:hover {
        color: #a1A1A1;
      }
    }
  }
}

.submit-success {
  margin-top: 20px;
  font-size: 16px;
  color: $green;
}