@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

input {
  font-size: 14px;
}

.main-section-wrapper {
  font-family: 'Montserrat';
}

.popup-wrapper {
  min-width: 500px;
}