@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

input {
  font-size: 14px;
}

.view-wrapper {
  padding: 25px;
}

.main-section-wrapper {
  font-family: 'Montserrat', sans-serif;
}

.popup-wrapper {
  min-width: 500px;
}