@import "colors";

.icon-wrapper {
  display: flex;
  cursor: pointer;
  position: relative;
  //margin-left: 10px;

  &.verify-icon {
    cursor: default;
  }

  * {
    vertical-align: top;
    line-height: 1.4em;
  }

  svg {
    margin-right: 3px;
  }
}