@import '../../../../commonComponents/colors';

.tabs {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-bottom: 2px solid $green;

  li {
    cursor: pointer;
    line-height: 38px;
    max-width: 225px;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  span {
    color: $green;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    transition: all 0.2s ease-in-out;

    &.active {
      color: #fff;
      background: $green;
    }
  }
}