@import '../../../../commonComponents/buttons';

.privacy-notice-wrapper {
  height: 400px;
  overflow: auto;
  padding: 25px;
  font-size: 16px;

  .privacy-notice-body {
    h2 {
      font-size: 21px;
    }

    div:not(:last-child) {
      margin-bottom: 15px;
      line-height: 20px;
    }
  }

  button {
    margin-top: 25px;
    @include btn;
  }
}